In [1]:
# Popular joins of data
# Joins
import pandas as pd

# ----------------------------
# STEP 1: Create sample DataFrames
# ----------------------------
# I cannot share customer data so created simple dataset for illustration purposes

# Employees table
employees = pd.DataFrame({
    'employee_id': [101, 102, 103, 104],
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'department_id': [1, 2, 2, 3]
})

# Departments table
departments = pd.DataFrame({
    'department_id': [1, 2, 4],
    'department_name': ['HR', 'Engineering', 'Marketing']
})

print("Employees:\n", employees)
print("\nDepartments:\n", departments)

# ----------------------------
# STEP 2: Join Examples
# ----------------------------

# 1. INNER JOIN (only matching records)
inner_join = pd.merge(employees, departments, on='department_id', how='inner')
print("\nINNER JOIN:\n", inner_join)

# 2. LEFT JOIN (all employees, match departments)
left_join = pd.merge(employees, departments, on='department_id', how='left')
print("\nLEFT JOIN:\n", left_join)

# 3. RIGHT JOIN (all departments, match employees)
right_join = pd.merge(employees, departments, on='department_id', how='right')
print("\nRIGHT JOIN:\n", right_join)

# 4. OUTER JOIN (all records from both sides)
outer_join = pd.merge(employees, departments, on='department_id', how='outer')
print("\nOUTER JOIN:\n", outer_join)

Employees:
    employee_id     name  department_id
0          101    Alice              1
1          102      Bob              2
2          103  Charlie              2
3          104    David              3

Departments:
    department_id department_name
0              1              HR
1              2     Engineering
2              4       Marketing

INNER JOIN:
    employee_id     name  department_id department_name
0          101    Alice              1              HR
1          102      Bob              2     Engineering
2          103  Charlie              2     Engineering

LEFT JOIN:
    employee_id     name  department_id department_name
0          101    Alice              1              HR
1          102      Bob              2     Engineering
2          103  Charlie              2     Engineering
3          104    David              3             NaN

RIGHT JOIN:
    employee_id     name  department_id department_name
0        101.0    Alice              1              HR
1        102.0      Bob              2     Engineering
2        103.0  Charlie              2     Engineering
3          NaN      NaN              4       Marketing

OUTER JOIN:
    employee_id     name  department_id department_name
0        101.0    Alice              1              HR
1        102.0      Bob              2     Engineering
2        103.0  Charlie              2     Engineering
3        104.0    David              3             NaN
4          NaN      NaN              4       Marketing